@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:linear-gradient(135deg,#9D4EDD, #E0AAFF );;
    --text-color: #8674a0;
    --main-color: hsl(46, 87%, 58%);;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("fondo.png");
    
}
.container{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg,#5E548E, #8d5296 );
    padding: 25px 35px;
    border-radius: 20px;
}
header{
    
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;

}
.logo{
    display: flex;
    align-items: center;
    height: 80px;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color)
}
.main a.active{
    color: var(--main-color);
}
.main{
        display: flex;
        align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container .title{
    color: #c2a4e9;
    font-size: 30px;
    font-weight: 1000;
    position: relative;
}
*.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 35px;
    background: linear-gradient(135deg,#9D4EDD, #E0AAFF );
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 10px 0;
}
form .user-details .input-box{
    margin-bottom: 30px;
    width: calc(100% / 2 - 15px);
}
.user-details .input-box .details{
    color:#c2a4e9;
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}
.user-details .input-box .textdetails{
    font-size: 12px;
    color: #dfd5eb;
    display: block;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 2px;
}
.user-details .input-box input::placeholder{
    font-size: 12px;
    font-weight: 600;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 3px solid #E0B1CB;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all is ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border: #E0B1CB;
}
form .button{
    height: 35px;
    margin: 12px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 900;
    border-radius: 15px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#9D4EDD, #E0AAFF );
}
form .button input:hover{
    background: linear-gradient(-135deg,#9D4EDD, #E0AAFF );
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px;
    background-color: #E0AAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 80px;
    margin-bottom: 0px;
}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #5E548E;
    background-image: url(Facebook_logo.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: aqua;
    filter: invert(1);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 10px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 250px;
        overflow-y:  scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}
